.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #205375;
  height: 70px;
  font-size: large;
}
body
{
    margin: 0px;
    font-family: Arial, sans-serif;
}
.logo
{
  margin-left: 30px;
}
.navbar
{
  margin-right: 30px;
}
.navbar line {
  outline: none;
}
